@{
    ViewBag.Title = "Home Page";
}

<div id="contentHolder">
    @using (Html.BeginForm("Backup", "Home", "", FormMethod.Post, new { Id = "frmBackup" }))
    {

        <div class="col-lg-6">
            <label>Source</label>
        </div>
        <div class="col-lg-6">
            @Html.Editor("source")
        </div>
        <br />
        <div class="col-lg-6 spacing">
            <label>Destination</label>
        </div>
        <div class="col-lg-6 spacing">
            @Html.Editor("destination")
        </div>


    }
    <div class="col-lg-6">
        <button id="btnBackup" class="buttonStyle" type="submit" onclick="startBackup()">Sync Folders</button>
    </div>
</div>

        <div id="logDiv" class="labelStyle">

        </div>

