@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Backup", "Home", "POST"))
{
    <div class="col-lg-6">
        <label>Source</label>
    </div>
    <div class="col-lg-6">
        @Html.Editor("source")
    </div>
    <br />
    <div class="col-lg-6">
        <label>Destination</label>
    </div>
    <div class="col-lg-6">
        @Html.Editor("destination")
    </div>
    <div class="col-lg-6">
        <button type="submit">Sync Folders</button>
    </div>
}
