USE [master]
GO
/****** Object:  Database [DataSync]    Script Date: 14-May-18 11:17:44 PM ******/
CREATE DATABASE [DataSync]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataSync', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER2014\MSSQL\DATA\DataSync.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DataSync_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER2014\MSSQL\DATA\DataSync_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataSync].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataSync]
GO
/****** Object:  Table [dbo].[BackupJob]    Script Date: 14-May-18 11:17:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BackupJob](
	[BackupJobId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ScheduleTime] [datetime] NOT NULL,
	[Progress] [decimal](5, 2) NOT NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[Source] [varchar](255) NULL,
	[Destination] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[BackupJobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BackupJobDetail]    Script Date: 14-May-18 11:17:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BackupJobDetail](
	[BackupJobDetailId] [int] IDENTITY(1,1) NOT NULL,
	[BackupJobId] [int] NOT NULL,
	[FileNameFrom] [varchar](255) NULL,
	[FileSize] [bigint] NOT NULL,
	[DateSynced] [datetime] NULL,
	[FileNameTo] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[BackupJobDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[BackupJobDetail]  WITH CHECK ADD  CONSTRAINT [FK_BackupJobId_Detail] FOREIGN KEY([BackupJobDetailId])
REFERENCES [dbo].[BackupJobDetail] ([BackupJobDetailId])
GO
ALTER TABLE [dbo].[BackupJobDetail] CHECK CONSTRAINT [FK_BackupJobId_Detail]
GO
USE [master]
GO
